.checkout {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(236, 232, 232);
    height: max-content;
}
.checkout__ad{
    height: 300px;
    width:100%;
    margin-bottom: 10px;
    border-radius: 10px;
    z-index: -1;
}
.checkout__title{
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    background-color: rgb(204, 200, 200);
}